body {
  margin: 0rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4b0000 0%, #000000 25%, #000000 75%, #4b0000 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 300%;
  animation: animar-fundo 10s ease-in-out infinite;
  color: white;
}

@keyframes animar-fundo {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

header {
  display: flex;
  justify-content: center;

}

#h_1 {
  margin-top: 4rem;
  opacity: 0.3;
  transition: opacity 2s ease-in-out;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.6);
}

#h_1:hover {
  opacity: 1;
}

#seta {
  zoom: 0.04;
  opacity: 0.2;
  transition: opacity 1.5s ease-in-out;
}

#seta:hover {
  opacity: 0.55;
}

.main {
  display: flex;
  justify-content: center;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
}

#imagens {
  margin-top: 28rem;
  gap: 20rem;
  zoom: 0.1;
}

#numero {
  margin-top: 6.5rem;
  opacity: 0.5;
  transition: opacity 2s ease-in-out;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.9);
}

#numero:hover {
  opacity: 1;
}

#email {
  margin-top: 3rem;
  opacity: 0.5;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.9);
}

#email:hover {
  opacity: 1;
}

#git {
  opacity: 0.5;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#git:hover {
  transform: scale(1.2);
  opacity: 1;
}

#insta {
  opacity: 0.5;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#insta:hover {
  transform: scale(1.2);
  opacity: 1;
}

#linke {
  opacity: 0.5;
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

#linke:hover {
  transform: scale(1.2);
  opacity: 1;
}