body {
  margin: 0rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4b0000 0%, #000000 25%, #000000 75%, #4b0000 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 300%;
  animation: animar-fundo 10s ease-in-out infinite;
  color: white;
}

@keyframes animar-fundo {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

header {
  display: flex;
  justify-content: center;

}

#h_1 {
  margin-top: 4rem;
  opacity: 0.3;
  transition: opacity 2s ease-in-out;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.6);
}

#h_1:hover {
  opacity: 1;
}

#seta {
  zoom: 0.04;
  opacity: 0.2;
  transition: opacity 1.5s ease-in-out;
}

#seta:hover {
  opacity: 0.55;
}

main {
  font-family: 'Cinzel', serif;
}

#tituloh1 {
  display: flex;
  font-size: 1.6rem;
  margin-left: 25rem;
  margin-top: 4rem;
  opacity: 0.6;
  transition: opacity 2s ease-in-out;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 1);
}

#tituloh1:hover {
  opacity: 1;
}

#paragrafo {
  text-align: justify;
  padding-left: 25rem;
  padding-right: 25rem;
  margin-top: 3rem;
  opacity: 0.6;
  transition: opacity 2s ease-in-out;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.9);
}

#paragrafo:hover {
  opacity: 1;
}

#git {
  zoom: 0.09;
  margin-left: 362rem;
  opacity: 0.4;
  transition: opacity 2s ease-in-out;
}

#git:hover {
  opacity: 1;
}